@use "./colors" as *;

.announcements {
  position: relative;

  .dropdown {
    padding: 0 0.5rem;
    border-radius: 2rem;
    border: none;
    background: $gray-light-200;

    .dropdown-menu {
      padding-bottom: 1.5rem;
      padding-inline: 1rem;
    }

    svg {
      color: $gray-light-600;
    }
  }

  .select-group {
    margin-block: 0.5rem;
  }

  label {
    color: $gray-light-900;
  }

  select {
    display: block;
    width: 100%;
    padding-block: 0.5rem;
    background: $gray-light-200;
    color: $gray-light-600;
    border-radius: 0.685rem;
    margin-top: 0.5rem;
  }

  .add--ann--button {
    font-size: 3rem;
    border-radius: 50%;
    color: $accent;
    position: fixed;
    right: 2rem;
    bottom: 5rem;
  }

  .card {
    width: 100%;
    margin-bottom: 1.5rem;
    height: auto;
  }
}
