@use "./colors" as *;

.card {
  height: 175px;
  width: 375px;
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;

  .card--background {
    background: inherit;
    position: absolute;
    inset: -1rem;
    background: linear-gradient(to bottom left, $accent-dark-700, $accent-dark-200);
    filter: blur(5px);
  }

  .card--content {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;

    .card--content--left {
      width: 159px;
      height: 100%;

      .card--img img {
        height: 159px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 0.352rem;
      }
    }

    .card--content--right {
      width: 60%;
      height: 100%;
      padding-top: 0.5rem;

      .card--name {
        color: $gray-light-900;
        margin-bottom: 0.5rem;
      }

      .card--description {
        color: $gray-light-700;
      }

      label {
        color: $gray-light-900;
      }

      .card--category {
        color: $accent-bl;
        display: block;
      }

      .card--difficulty {
        &.Medium {
          color: $accent-gld;
        }
        &.Hard {
          color: $accent;
        }
        &.Easy {
          color: #00ff7f;
        }
      }
    }
  }
}
