@use "./colors" as *;

.card {
  height: 125px;
  width: 300px;
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;

  .card--background {
    background: inherit;
    position: absolute;
    inset: -1rem;
    background: linear-gradient(to bottom left, $accent-dark-700, $accent-dark-200);
    filter: blur(5px);
  }

  .card--content {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;

    .card--content--left {
      width: 40%;
      height: 100%;

      .card--img img {
        height: 109px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 0.352rem;
      }
    }

    .card--content--right {
      width: 60%;
      height: 100%;
      font-size: 0.815rem;

      .card--name {
        color: $gray-light-900;
        margin-bottom: 0.5rem;
      }

      .card--description {
        color: $gray-light-600;
      }

      .card--group {
        margin-top: 0.5rem;
        display: flex;

        label {
          color: $gray-dark-200;
        }

        .card--category {
          color: $gray-light-800;
          display: block;
        }

        .card--difficulty {
          color: $accent-gld;
        }
      }
    }
  }
}
