@use "./colors" as *;

.card {
  height: 200px;
  width: 375px;
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;
  background: linear-gradient(to top left, $accent-dark-700, $accent-dark-200);
  cursor: pointer;

  .main--content {
    display: flex;
    align-items: center;

    .card--img {
      display: block;
      width: 40%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 0.625rem;
    }

    .card--group {
      padding: 0.5rem;

      .card--name {
        color: $gray-light-900;
        font-size: 1.25rem;
      }

      .card--description {
        color: $gray-light-700;
      }
    }
  }

  .secondary--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }

  .card--content {
    height: inherit;
    width: inherit;
    padding: 0.5rem;

    label {
      color: $gray-light-900;
    }

    .card--category span,
    .card--difficulty span {
      text-transform: uppercase;
    }

    .card--category {
      color: $accent-light-300-bl;
      display: flex;
      flex-direction: column;
    }

    .card--difficulty {
      display: flex;
      flex-direction: column;

      &.Medium {
        color: $accent-gld;
      }
      &.Hard {
        color: $accent-light-200;
      }
      &.Easy {
        color: #00ff7f;
      }
    }
  }
}

.full--card {
  height: 100vh;
  overflow-y: auto;
  color: $gray-light-600;
  padding: 2rem;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: $gray;
  width: 100%;
  padding-bottom: 2rem;

  .card--content {
    height: 100%;
    width: 100%;

    .card--img {
      display: block;
      width: 60%;
      aspect-ratio: 1;
      object-fit: cover;
      margin-inline: auto;
      border-radius: 0.625rem;
      margin-bottom: 2rem;
    }

    .card--data {
      width: 100%;
      min-height: 4rem;
      background-color: $gray-light-100;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border-radius: 0.625rem;
      padding-right: 1rem;
      gap: 1rem;
      font-size: 1.25rem;
      color: $gray-light-900;
      overflow: hidden;
      overflow-x: auto;

      &.description {
        min-height: fit-content;
      }

      .card--label {
        display: block;
        color: $gray-light-600;
      }

      &.difficulty {
        &.Medium {
          color: $accent-gld;
        }
        &.Hard {
          color: $accent-light-200;
        }
        &.Easy {
          color: #00ff7f;
        }
      }
    }

    .sensitive--data {
      padding-bottom: 1rem;
    }

    .btn--group {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;

      .ann--btn {
        padding: 1rem 2rem;
        width: 100%;
        height: auto;
        color: $gray-light-900;
        border: none;
        border-radius: 0.625rem;
        text-transform: uppercase;

        font-size: 1.25rem;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;

        cursor: pointer;

        &.cancel,
        &.close {
          background-color: $accent;
        }

        &.help,
        &.edit,
        &.sendMsg,
        &.finish {
          background-color: rgb(0, 180, 90);
        }
      }
    }
  }
}
