// Accent tints & shades
$accent-light-900: #ffefef;
$accent-light-800: #ffdede;
$accent-light-700: #ffcece;
$accent-light-600: #ffbdbd;
$accent-light-500: #ffadad;
$accent-light-400: #ff9c9c;
$accent-light-300: #ff8c8c;
$accent-light-200: #ff7b7b;
$accent-light-100: #ff6b6b;
$accent: #ff5a5a;
$accent-dark-100: #e65151;
$accent-dark-200: #cc4848;
$accent-dark-300: #b33f3f;
$accent-dark-400: #993636;
$accent-dark-500: #802d2d;
$accent-dark-600: #662424;
$accent-dark-700: #4c1b1b;
$accent-dark-800: #331212;
$accent-dark-900: #190909;

// Gray tints & shades
$gray-light-900: #eaeaeb;
$gray-light-800: #d4d5d6;
$gray-light-700: #bfc0c2;
$gray-light-600: #a9abae;
$gray-light-500: #94969a;
$gray-light-400: #7e8085;
$gray-light-300: #696b71;
$gray-light-200: #53565d;
$gray-light-100: #3e4148;
$gray: #282c34;
$gray-dark-100: #24282f;
$gray-dark-200: #20232a;
$gray-dark-300: #1c1f24;
$gray-dark-400: #181a1f;
$gray-dark-500: #14161a;
$gray-dark-600: #101215;
$gray-dark-700: #0c0d10;
$gray-dark-800: #08090a;
$gray-dark-900: #040405;

// Blue accent
$accent-light-900-bl: #e6f7fd;
$accent-light-800-bl: #ceeffb;
$accent-light-700-bl: #b5e7f9;
$accent-light-600-bl: #9cdff7;
$accent-light-500-bl: #84d7f5;
$accent-light-400-bl: #6bcef2;
$accent-light-300-bl: #52c6f0;
$accent-light-200-bl: #39beee;
$accent-light-100-bl: #21b6ec;
$accent-bl: #08aeea;
$accent-dark-100-bl: #079dd3;
$accent-dark-200-bl: #068bbb;
$accent-dark-300-bl: #067aa4;
$accent-dark-400-bl: #05688c;
$accent-dark-500-bl: #045775;
$accent-dark-600-bl: #03465e;
$accent-dark-700-bl: #023446;
$accent-dark-800-bl: #02232f;
$accent-dark-900-bl: #011117;

// Gold accent
$accent-light-900-gld: #fff8ed;
$accent-light-800-gld: #fff0da;
$accent-light-700-gld: #ffe9c8;
$accent-light-600-gld: #ffe2b5;
$accent-light-500-gld: #ffdba3;
$accent-light-400-gld: #ffd391;
$accent-light-300-gld: #ffcc7e;
$accent-light-200-gld: #ffc56c;
$accent-light-100-gld: #ffbd59;
$accent-gld: #ffb647;
$accent-dark-100-gld: #e6a440;
$accent-dark-200-gld: #cc9239;
$accent-dark-300-gld: #b37f32;
$accent-dark-400-gld: #996d2b;
$accent-dark-500-gld: #805b24;
$accent-dark-600-gld: #66491c;
$accent-dark-700-gld: #4c3715;
$accent-dark-800-gld: #33240e;
$accent-dark-900-gld: #191207;