@use "./colors" as *;

.password-icon {
  cursor: pointer;
}

.f-wrapper {
  position: relative;
  display: flex;
  height: 4rem;
  width: 100%;
  margin-block: 1rem;

  .label {
    position: absolute;
    top: 50%;
    left: 0.65rem;
    transform: translateY(-50%);
    color: $gray-light-500;
    padding: 0.25rem 0.5rem;
    pointer-events: none;
    transition: all 0.35s;
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: $gray-light-500;
    transition: all 0.35s;
  }

  input {
    height: inherit;
    width: 100%;
    border: 2px solid $gray-light-500;
    border-radius: 0.5rem;
    outline: none;
    background: transparent;
    color: $gray-light-900;
    font-size: 1rem;
    transition: all 0.35s;
    text-indent: 4rem;
    padding-right: 3rem;
  }
  input:focus {
    border-color: $accent;
    text-indent: 1rem !important;
  }
  input:focus ~ .icon {
    color: $accent;
  }
  input:focus ~ .label {
    background: $gray-light-100;
    color: $accent;
    transform: translateY(-2.875rem);
  }

  .password-input {
    text-indent: 6rem;
  }

  .confirm-password {
    text-indent: 10rem;
  }
}
