@use "./colors" as *;

.password-icon {
  cursor: pointer;
}

.input--field {
  width: 100%;
  min-height: 4rem;
  background-color: $gray-light-100;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  gap: 1rem;

  &.checkbox {
    background-color: transparent;
    justify-content: flex-start;npm

    input#sameAddress {
      width: 50px;
      height: 50px;
      accent-color: $accent;
    }

    &:focus-within {
      box-shadow: none;
    }
  }

  .input--label {
    display: block;
    color: $gray-light-600;
  }

  .input--content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  svg {
    font-size: 2rem;
    width: fit-content !important;
    fill: $gray-light-900;
  }

  input {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    color: $gray-light-900;
    border-radius: 0.25rem;

    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    outline: none;
    box-shadow: 0 0 2px 2px $accent;

    svg {
      fill: $accent;
    }
  }

  select {
    width: 100%;
    border: none;
    background: transparent !important;
    color: $gray-light-900 !important;
    font-size: 1.25rem;

    &:focus {
      background: $gray;
      outline: none;
    }
  }

  textarea {
    background-color: $gray-light-100;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    color: $gray-light-900;
    font-size: 1.25rem;

    &:focus {
      outline: none;
    }
  }
}

.f-wrapper {
  position: relative;
  display: flex;
  height: 4rem;
  width: 100%;
  margin-block: 1rem;

  .label {
    position: absolute;
    top: 50%;
    left: 0.65rem;
    transform: translateY(-50%);
    color: $gray-light-500;
    padding: 0.25rem 0.5rem;
    pointer-events: none;
    transition: all 0.35s;
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: $gray-light-500;
    transition: all 0.35s;
  }

  input {
    height: inherit;
    width: 100%;
    border: 2px solid $gray-light-500;
    border-radius: 0.5rem;
    outline: none;
    background: transparent;
    color: $gray-light-900;
    font-size: 1rem;
    transition: all 0.35s;
    text-indent: 4rem;
    padding-right: 3rem;
  }
  input:focus {
    border-color: $accent;
    text-indent: 1rem !important;
  }
  input:focus ~ .icon {
    color: $accent;
  }
  input:focus ~ .label {
    background: $gray-light-100;
    color: $accent;
    transform: translateY(-2.875rem);
  }

  .password-input {
    text-indent: 6rem;
  }

  .confirm-password {
    text-indent: 10rem;
  }
}
