@use "./colors" as *;

.login,
.register {
  min-height: 100vh;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  svg {
    width: 80%;
    aspect-ratio: 1;
    display: block;
    margin-inline: auto;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    color: $accent;
    font-weight: 800;
    margin-block: 1rem;
  }

  .app-name {
    font-family: "Love Light", cursive;
    letter-spacing: 2px;
    font-size: 4rem;
    margin-block: 0;
  }

  .link-text {
    text-align: center;
    margin-block: 1.5rem;
    color: $gray-light-700;

    a {
      color: $accent;
      text-decoration: none;
    }
  }

  .btn {
    color: $gray-light-900;
    height: 4rem;
    width: 100%;
    background-color: $accent-dark-100;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.35s;
    cursor: pointer;
    &:hover {
      background-color: $accent-dark-500;
      color: $gray-light-900;
    }
  }
}
