@use "./colors" as *;

.account {
  height: 100vh;
  overflow-y: auto;
  color: $gray-light-600;
  padding: 2rem;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: $gray;
  width: 100%;

  .header {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $accent;
    margin-bottom: 1rem;

    button {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      color: $accent;
      font-size: 3rem;
    }
  }

  .img-placeholder {
    height: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    line-height: 125px;
    display: block;
    margin-inline: auto;
    object-fit: cover;
  }

  #img-placeholder {
    width: 100%;
    height: 100%;
  }

  .img-upload {
    display: flex;
    flex-direction: column;
  }

  .img-label {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .user-data {
    width: 100%;
    height: auto;
    background-color: $gray-light-100;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.625rem;

    label {
      display: block;
      color: $gray-light-600;
    }

    input {
      width: 100%;
      background: transparent;
      border: none;
      font-size: 1.25rem;
      color: $gray-light-900;
    }

    select {
      width: 100%;
      border: none;
      background: transparent;
      color: $gray-light-900;
      font-size: 1.25rem;

      &:focus {
        background: $gray;
      }
    }
  }

  .save-btn {
    width: 100%;
    margin-block: 1rem;
    padding-block: 1rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    background: linear-gradient(to bottom left, $accent-dark-600, $accent-dark-200);
    color: $gray-light-900;

    &.disabled {
      filter: grayscale(0.3);
    }
  }
}
