@use "./colors" as *;

.completeRegistration {
  position: absolute;
  top: 0;
  left: 0;
  background: $gray-light-100;
  z-index: 1000;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: hidden;

  svg {
    width: 80%;
    aspect-ratio: 1;
    display: block;
    margin-inline: auto;
  }

  .popup {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .volunteerSvg {
      width: 80%;
      aspect-ratio: 1;
      display: block;
      margin-inline: auto;
    }
  }

  .wrapper {
    .title {
      font-size: 1.5rem;
      color: $gray-light-900;
      margin-block-end: 1rem;
    }
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  .title {
    text-align: center;
    &.logo {
      font-family: "Love Light", cursive;
      letter-spacing: 2px;
      font-size: 4rem;
      margin-block: 0;
      color: $accent;
      padding-block: 0;
    }
  }

  .subtitle-primary {
    margin-block-start: 1rem;
    font-size: 1rem;
    color: $gray-light-600;
    text-align: center;
  }

  .close {
    font-size: 2rem;
    font-weight: 800;
    float: right;
    color: $accent;
  }

  .img-placeholder {
    height: 15rem;
    aspect-ratio: 1;
    margin-block: 1rem;
    border-radius: 0.75rem;
    overflow: hidden;
    text-align: center;
    line-height: 125px;
    display: block;
    margin-inline: auto;
    object-fit: cover;
  }

  #img-placeholder {
    width: 100%;
    height: 100%;
  }

  .img-upload {
    display: flex;
    flex-direction: column;
  }

  .img-label {
    font-size: 1.25rem;
    text-align: center;
  }

  .wrapper {
    .group {
      display: flex;
      gap: 1rem;
      .f-wrapper {
        margin-block: 0;
      }
    }
  }
  .btns {
    margin-top: auto;
    margin-bottom: 2rem;
    width: 100%;
  }
  .prev-btn,
  .next-btn,
  .complete-btn {
    margin-block: 1rem;
    margin-inline: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 1.125rem;
    border: none;
    display: block;

    &.swiper-button-disabled {
      visibility: hidden;
    }
  }

  .sixth-slide {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    .title {
      margin-block: auto;
    }
  }

  .complete-btn {
    margin-inline: 0;
  }

  .next-btn,
  .complete-btn {
    background-color: $accent;
    color: $gray-dark-900;
  }

  .next-btn.swiper-button-disabled {
    display: none;
  }

  .prev-btn {
    margin-block-start: auto;
    border: 2px solid $accent;
    color: $accent;
  }

  .wrapper {
    width: 100%;
  }

  .swiper-slide {
    padding-inline: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
