@use "./colors" as *;
@use "./swiper";
@use "./form";
@use "./nav";
@use "./home";
@use "./auth";
@use "./spinner";
@use "./card";
@use "./dropdown";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $gray-light-100;
}

#app {
  min-height: 100vh;
  height: 100%;
  width: 100%;

  position: relative;
}

.notFound {
  height: calc(100vh - 5rem);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow-y: auto;

  svg {
    width: 100%;
  }

  h1 {
    color: $accent-dark-400;
    padding-block: 1rem;
  }
}
