@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");
.completeRegistration {
  position: absolute;
  top: 0;
  left: 0;
  background: #3e4148;
  z-index: 1000;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}
.completeRegistration svg {
  width: 80%;
  aspect-ratio: 1;
  display: block;
  margin-inline: auto;
}
.completeRegistration .popup {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.completeRegistration .popup .volunteerSvg {
  width: 80%;
  aspect-ratio: 1;
  display: block;
  margin-inline: auto;
}
.completeRegistration .wrapper .title {
  font-size: 1.5rem;
  color: #eaeaeb;
  margin-block-end: 1rem;
}
.completeRegistration input[type=date]::-webkit-inner-spin-button,
.completeRegistration input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.completeRegistration .title {
  text-align: center;
}
.completeRegistration .title.logo {
  font-family: "Love Light", cursive;
  letter-spacing: 2px;
  font-size: 4rem;
  margin-block: 0;
  color: #ff5a5a;
  padding-block: 0;
}
.completeRegistration .subtitle-primary {
  margin-block-start: 1rem;
  font-size: 1rem;
  color: #a9abae;
  text-align: center;
}
.completeRegistration .close {
  font-size: 2rem;
  font-weight: 800;
  float: right;
  color: #ff5a5a;
}
.completeRegistration .img-placeholder {
  height: 15rem;
  aspect-ratio: 1;
  margin-block: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
  text-align: center;
  line-height: 125px;
  display: block;
  margin-inline: auto;
  object-fit: cover;
}
.completeRegistration #img-placeholder {
  width: 100%;
  height: 100%;
}
.completeRegistration .img-upload {
  display: flex;
  flex-direction: column;
}
.completeRegistration .img-label {
  font-size: 1.25rem;
  text-align: center;
}
.completeRegistration .wrapper .group {
  display: flex;
  gap: 1rem;
}
.completeRegistration .wrapper .group .f-wrapper {
  margin-block: 0;
}
.completeRegistration .btns {
  margin-top: auto;
  margin-bottom: 2rem;
  width: 100%;
}
.completeRegistration .prev-btn,
.completeRegistration .next-btn,
.completeRegistration .complete-btn {
  margin-block: 1rem;
  margin-inline: 0.5rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  font-size: 1.125rem;
  border: none;
  display: block;
}
.completeRegistration .prev-btn.swiper-button-disabled,
.completeRegistration .next-btn.swiper-button-disabled,
.completeRegistration .complete-btn.swiper-button-disabled {
  visibility: hidden;
}
.completeRegistration .sixth-slide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.completeRegistration .sixth-slide .title {
  margin-block: auto;
}
.completeRegistration .complete-btn {
  margin-inline: 0;
}
.completeRegistration .next-btn,
.completeRegistration .complete-btn {
  background-color: #ff5a5a;
  color: #040405;
}
.completeRegistration .next-btn.swiper-button-disabled {
  display: none;
}
.completeRegistration .prev-btn {
  margin-block-start: auto;
  border: 2px solid #ff5a5a;
  color: #ff5a5a;
}
.completeRegistration .wrapper {
  width: 100%;
}
.completeRegistration .swiper-slide {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-icon {
  cursor: pointer;
}

.f-wrapper {
  position: relative;
  display: flex;
  height: 4rem;
  width: 100%;
  margin-block: 1rem;
}
.f-wrapper .label {
  position: absolute;
  top: 50%;
  left: 0.65rem;
  transform: translateY(-50%);
  color: #94969a;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}
.f-wrapper .icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #94969a;
  transition: all 0.35s;
}
.f-wrapper input {
  height: inherit;
  width: 100%;
  border: 2px solid #94969a;
  border-radius: 0.5rem;
  outline: none;
  background: transparent;
  color: #eaeaeb;
  font-size: 1rem;
  transition: all 0.35s;
  text-indent: 4rem;
  padding-right: 3rem;
}
.f-wrapper input:focus {
  border-color: #ff5a5a;
  text-indent: 1rem !important;
}
.f-wrapper input:focus ~ .icon {
  color: #ff5a5a;
}
.f-wrapper input:focus ~ .label {
  background: #3e4148;
  color: #ff5a5a;
  transform: translateY(-2.875rem);
}
.f-wrapper .password-input {
  text-indent: 6rem;
}
.f-wrapper .confirm-password {
  text-indent: 10rem;
}

.primary-nav {
  width: 100%;
  height: 5rem;
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  left: 0;
}
.primary-nav .navigation {
  width: 100%;
  height: 100%;
}
.primary-nav .navigation .navigation-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.primary-nav .navigation .navigation-links .nav-link {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.125rem;
  font-size: 0.875rem;
  text-decoration: none;
  color: #94969a;
  transition: color 250ms ease-in, transform 250ms ease-in;
}
.primary-nav .navigation .navigation-links .nav-link.active-link {
  color: #ff5a5a;
  transform: scale(1.25);
}
.primary-nav .navigation .navigation-links .nav-link svg {
  font-size: 1.25rem;
}

.home {
  height: calc(100vh - 5rem);
  overflow: scroll;
  color: #a9abae;
  padding-inline: 1rem;
  padding-block-end: 1rem;
}
.home .title {
  color: #eaeaeb;
  font-size: 1.75rem;
  padding-block: 1.25rem;
}
.home .subtitle {
  color: #ff5a5a;
  font-size: 1.5rem;
  font-weight: 400;
}
.home .profile {
  width: 100%;
}
.home .profile .profile-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home .profile .profile-data img {
  height: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
.home .profile .profile-data span {
  font-size: 0.875rem;
  color: #a9abae;
}
.home .profile .profile-data .name {
  color: #ff6b6b;
}
.home .profile .profile-data .points {
  color: #068bbb;
}
.home .profile .profile-data .helped {
  color: #eaeaeb;
}
.home .ann-container {
  margin-block: 1rem;
}
.home .container-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .container-title .show-hide-btn {
  text-decoration: underline;
  width: 2.75rem;
}
.home .cards-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-block: 1rem;
}
.home .cards-container.hide-container {
  display: none;
}
.home .cards-container.show-container {
  display: block;
}
.home .cards-container .card {
  display: inline-block;
  margin-inline-end: 1rem;
  white-space: normal;
}

.login,
.register {
  min-height: 100vh;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login svg,
.register svg {
  width: 80%;
  aspect-ratio: 1;
  display: block;
  margin-inline: auto;
}
.login .title,
.register .title {
  font-size: 2rem;
  text-align: center;
  color: #ff5a5a;
  font-weight: 800;
  margin-block: 1rem;
}
.login .app-name,
.register .app-name {
  font-family: "Love Light", cursive;
  letter-spacing: 2px;
  font-size: 4rem;
  margin-block: 0;
}
.login .link-text,
.register .link-text {
  text-align: center;
  margin-block: 1.5rem;
  color: #bfc0c2;
}
.login .link-text a,
.register .link-text a {
  color: #ff5a5a;
}
.login .btn,
.register .btn {
  color: #eaeaeb;
  height: 4rem;
  width: 100%;
  background-color: #e65151;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  transition: all 0.35s;
  cursor: pointer;
}
.login .btn:hover,
.register .btn:hover {
  background-color: #802d2d;
  color: #eaeaeb;
}

.spinner {
  position: absolute;
  z-index: 2000;
  inset: 0;
  background-color: #282c34;
  place-items: center;
  display: grid;
}
.spinner:not(.visible) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.spinner.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.spinner .loader {
  color: #ff5a5a;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.card {
  height: 175px;
  width: 375px;
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;
}
.card .card--background {
  background: inherit;
  position: absolute;
  inset: -1rem;
  background: linear-gradient(to bottom left, #4c1b1b, #cc4848);
  filter: blur(5px);
}
.card .card--content {
  position: absolute;
  height: inherit;
  width: inherit;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}
.card .card--content .card--content--left {
  width: 159px;
  height: 100%;
}
.card .card--content .card--content--left .card--img img {
  height: 159px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0.352rem;
}
.card .card--content .card--content--right {
  width: 60%;
  height: 100%;
  padding-top: 0.5rem;
}
.card .card--content .card--content--right .card--name {
  color: #eaeaeb;
  margin-bottom: 0.5rem;
}
.card .card--content .card--content--right .card--description {
  color: #a9abae;
}
.card .card--content .card--content--right .card--group {
  margin-top: 0.5rem;
  display: flex;
}
.card .card--content .card--content--right .card--group label {
  color: #20232a;
}
.card .card--content .card--content--right .card--group .card--category {
  color: #d4d5d6;
  display: block;
}
.card .card--content .card--content--right .card--group .card--difficulty {
  color: #ffb647;
}

.dropdown {
  margin-block: 1rem;
  width: 100%;
  height: auto;
  border: 2px solid #ff5a5a;
  padding: 0 0.5rem;
  border-radius: 0.625rem;
}
.dropdown #helpingDropdown {
  margin-top: 0;
}
.dropdown .dropdown-btn {
  width: 100%;
  height: 4rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown .dropdown-btn svg {
  color: #ff5a5a;
  font-size: 2.5rem;
}
.dropdown .dropdown-menu.closed {
  display: none;
}
.dropdown .dropdown-menu.opened {
  display: block;
}

.announcements {
  height: calc(100vh - 5rem);
  overflow: scroll;
  color: #a9abae;
  padding: 1rem;
}
.announcements .title {
  color: #ff5a5a;
  font-size: 2rem;
  margin-block-end: 1rem;
}
.announcements .dropdown {
  padding: 0 0.5rem;
  border-radius: 2rem;
  border: none;
  background: #53565d;
}
.announcements .dropdown .dropdown-menu {
  padding-bottom: 1.5rem;
  padding-inline: 1rem;
}
.announcements .dropdown svg {
  color: #a9abae;
}
.announcements .select-group {
  margin-block: 0.5rem;
}
.announcements label {
  color: #eaeaeb;
}
.announcements select {
  display: block;
  width: 100%;
  padding-block: 0.5rem;
  background: #53565d;
  color: #a9abae;
  border-radius: 0.685rem;
  margin-top: 0.5rem;
}

.settings {
  height: calc(100vh - 5rem);
  overflow: scroll;
  color: #a9abae;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}
.settings .title {
  color: #ff5a5a;
  font-size: 2rem;
  margin-block-end: 1rem;
}
.settings .line {
  width: 100%;
  height: 1px;
  background: #94969a;
  margin-block: 0.25rem;
  border: none;
}
.settings .log-out {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #ff5a5a;
  background: transparent;
  border: 2px solid #ff5a5a;
  border-radius: 0.685rem;
}
.settings .log-out svg {
  font-size: 1.5rem;
  color: #ff5a5a;
}
.settings .settings-links {
  display: flex;
  flex-direction: column;
}
.settings .settings-links .settings-link {
  color: #d4d5d6;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.settings .settings-links .settings-link svg {
  font-size: 1.75rem;
}
.settings .settings-links .settings-link span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account {
  height: calc(100vh - 5rem);
  overflow: scroll;
  color: #a9abae;
  padding: 1rem;
}
.account .header {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ff5a5a;
}
.account .header button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: #ff5a5a;
  font-size: 3rem;
}
.account .img-placeholder {
  height: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  line-height: 125px;
  display: block;
  margin-inline: auto;
  object-fit: cover;
}
.account #img-placeholder {
  width: 100%;
  height: 100%;
}
.account .img-upload {
  display: flex;
  flex-direction: column;
}
.account .img-label {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}
.account .user-data {
  width: 100%;
  height: auto;
  background-color: #53565d;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.625rem;
}
.account .user-data label {
  display: block;
  color: #a9abae;
}
.account .user-data input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  color: #eaeaeb;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3e4148;
}

#app {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.notFound {
  height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}
.notFound svg {
  width: 100%;
}
.notFound h1 {
  color: #993636;
  padding-block: 1rem;
}

/*# sourceMappingURL=main.css.map */
