@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Light&display=swap");
.completeRegistration {
  position: absolute;
  top: 0;
  left: 0;
  background: #3e4148;
  z-index: 1000;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}
.completeRegistration svg {
  width: 80%;
  aspect-ratio: 1;
  display: block;
  margin-inline: auto;
}
.completeRegistration .popup {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.completeRegistration .popup .volunteerSvg {
  width: 80%;
  aspect-ratio: 1;
  display: block;
  margin-inline: auto;
}
.completeRegistration .second-slide .title,
.completeRegistration .third-slide .title,
.completeRegistration .fourth-slide .title,
.completeRegistration .fifth-slide .title {
  font-size: 1.5rem;
  color: #eaeaeb;
  margin-block-end: 1rem;
}
.completeRegistration input[type=date]::-webkit-inner-spin-button,
.completeRegistration input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.completeRegistration .title {
  text-align: center;
}
.completeRegistration .title.logo {
  font-family: "Love Light", cursive;
  letter-spacing: 2px;
  font-size: 4rem;
  margin-block: 0;
  color: #ff5a5a;
  padding-block: 0;
}
.completeRegistration .subtitle-primary {
  margin-block-start: 1rem;
  font-size: 1rem;
  color: #a9abae;
  text-align: center;
}
.completeRegistration .close {
  font-size: 2rem;
  font-weight: 800;
  float: right;
  color: #ff5a5a;
}
.completeRegistration .img-placeholder {
  height: 15rem;
  aspect-ratio: 1;
  margin-block: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
  text-align: center;
  line-height: 125px;
  display: block;
  margin-inline: auto;
  object-fit: cover;
}
.completeRegistration #img-placeholder {
  width: 100%;
  height: 100%;
}
.completeRegistration .img-upload {
  display: flex;
  flex-direction: column;
}
.completeRegistration .img-label {
  font-size: 1.25rem;
  text-align: center;
}
.completeRegistration .wrapper .group {
  display: flex;
  gap: 1rem;
}
.completeRegistration .wrapper .group .f-wrapper {
  margin-block: 0;
}
.completeRegistration .btns {
  margin-top: auto;
  margin-bottom: 2rem;
}
.completeRegistration .prev-btn,
.completeRegistration .next-btn,
.completeRegistration .complete-btn {
  margin-block: 1rem;
  margin-inline: 0.5rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  font-size: 1.125rem;
}
.completeRegistration .prev-btn.swiper-button-disabled,
.completeRegistration .next-btn.swiper-button-disabled,
.completeRegistration .complete-btn.swiper-button-disabled {
  visibility: hidden;
}
.completeRegistration .next-btn,
.completeRegistration .complete-btn {
  background-color: #ff5a5a;
  color: #040405;
}
.completeRegistration .next-btn.swiper-button-disabled {
  display: none;
}
.completeRegistration .prev-btn {
  margin-block-start: auto;
  border: 2px solid #ff5a5a;
  color: #ff5a5a;
}
.completeRegistration .complete-btn.last-slide {
  display: block;
}
.completeRegistration .complete-btn.not-last-slide {
  display: none;
}
.completeRegistration .wrapper {
  width: 100%;
}
.completeRegistration .swiper-slide {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
}

.password-icon {
  cursor: pointer;
}

.f-wrapper {
  position: relative;
  display: flex;
  height: 4rem;
  width: 100%;
  margin-block: 1rem;
}
.f-wrapper .label {
  position: absolute;
  top: 50%;
  left: 0.65rem;
  transform: translateY(-50%);
  color: #94969a;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  transition: all 0.35s;
}
.f-wrapper .icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #94969a;
  transition: all 0.35s;
}
.f-wrapper input {
  height: inherit;
  width: 100%;
  border: 2px solid #94969a;
  border-radius: 0.5rem;
  outline: none;
  background: transparent;
  color: #eaeaeb;
  font-size: 1rem;
  transition: all 0.35s;
  text-indent: 4rem;
  padding-right: 3rem;
}
.f-wrapper input:focus {
  border-color: #ff5a5a;
  text-indent: 1rem !important;
}
.f-wrapper input:focus ~ .icon {
  color: #ff5a5a;
}
.f-wrapper input:focus ~ .label {
  background: #3e4148;
  color: #ff5a5a;
  transform: translateY(-2.875rem);
}
.f-wrapper .password-input {
  text-indent: 6rem;
}
.f-wrapper .confirm-password {
  text-indent: 10rem;
}

.primary-nav {
  width: 100%;
  height: 5rem;
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  left: 0;
}
.primary-nav .navigation {
  width: 100%;
  height: 100%;
}
.primary-nav .navigation .navigation-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.primary-nav .navigation .navigation-links .nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.125rem;
  font-size: 0.875rem;
  text-decoration: none;
  color: #94969a;
  transition: color 250ms ease-in, transform 250ms ease-in;
}
.primary-nav .navigation .navigation-links .nav-link.active-link {
  color: #ff5a5a;
  transform: scale(1.25);
}
.primary-nav .navigation .navigation-links .nav-link svg {
  font-size: 1.25rem;
}

.home {
  height: calc(100vh - 5rem);
  overflow: scroll;
  color: #a9abae;
  padding-inline: 1rem;
  padding-block-end: 1rem;
}
.home .title {
  color: #eaeaeb;
  font-size: 2rem;
  padding-block: 1.25rem;
}
.home .subtitle {
  color: #ff7b7b;
  font-size: 1.5rem;
  font-weight: 400;
}
.home .profile {
  width: 100%;
}
.home .profile .profile-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home .profile .profile-data img {
  height: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
.home .profile .profile-data span {
  font-size: 0.875rem;
  color: #a9abae;
}
.home .profile .profile-data .name {
  color: #ff6b6b;
}
.home .profile .profile-data .points {
  color: #068bbb;
}
.home .profile .profile-data .helped {
  color: #eaeaeb;
}
.home .chart .title {
  font-size: 1.25rem;
}
.home .chart img {
  width: 80%;
  display: block;
  margin-inline: auto;
}

.login,
.register {
  min-height: 100vh;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login svg,
.register svg {
  width: 80%;
  aspect-ratio: 1;
  display: block;
  margin-inline: auto;
}
.login .title,
.register .title {
  font-size: 2rem;
  text-align: center;
  color: #ff5a5a;
  font-weight: 800;
  margin-block: 1rem;
}
.login .app-name,
.register .app-name {
  font-family: "Love Light", cursive;
  letter-spacing: 2px;
  font-size: 4rem;
  margin-block: 0;
}
.login .link-text,
.register .link-text {
  text-align: center;
  margin-block: 1.5rem;
  color: #bfc0c2;
}
.login .link-text a,
.register .link-text a {
  color: #ff5a5a;
}
.login .btn,
.register .btn {
  color: #eaeaeb;
  height: 4rem;
  width: 100%;
  background-color: #e65151;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  transition: all 0.35s;
  cursor: pointer;
}
.login .btn:hover,
.register .btn:hover {
  background-color: #802d2d;
  color: #eaeaeb;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3e4148;
}

#app {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.notFound {
  height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}
.notFound svg {
  width: 100%;
}
.notFound h1 {
  color: #993636;
  padding-block: 1rem;
}

/*# sourceMappingURL=main.css.map */
